@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600&display=swap');
@font-face {
 font-family: "Gracial";
 src:url(./GlacialIndifference-Regular.otf) format("opentype");
 }

  @font-face {
    font-family: "Gracial";
    font-weight: bold;
    src:url(./GlacialIndifference-Bold.otf) format("opentype");
  }


body{
background: #F2F1EB;
font-family: 'Gracial', monospace;
color: #2C3639;
align-content: center;
font-size: 14px;
margin: 0px;
padding: 0px;
}
div{
    padding: 10px;
    font-size: 1.2rem;
}
header.index{
    color: white;
}
.main{
    align-items: center;
    margin: 2% 10%;
}
h1{
    color: #4F6F52;
    font-size: 5rem;
    text-align: center;
    font-family: 'Dancing Script', cursive;
}
h2{
    color:#88AB8E;
    font-family: 'Dancing Script', cursive;
}
h3{
    color:#88AB8E;
    font-family: 'Dancing Script', cursive;
}
.container.erwartung{
 font-family: cursive;
 font-size: 1.5rem;
 margin-bottom: 2%;
 margin-top: 2%;
 display: flex;
 justify-content: center;
 gap: 15px;
 flex-wrap: wrap;
 flex-direction: row;

}
.erwartung.animation{
    display: flex;
    flex-direction: column;
    padding: 0;
    box-shadow: 0px 4px 24px rgba(22, 65, 147, 0.15), 0px 3px 8px rgba(22, 65, 147, 0.05);
    transition:all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
    border-radius: 4px;
    color: #5F6F52;
    font-family: 'Gracial', monospace;
    font-size: 0.9rem;
    text-align: left;
    border-radius: 5px;
}
.erwartung.animation:hover{
    font-size: 1.8rem;
    box-shadow:0 14px 28px rgba(29, 29, 29, 0.25), 0 10px 10px rgba(48, 47, 47, 0.22);
}
.erwartung.animation>img{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    object-fit: contain;
    width: 100%;
}
.cardtitle{
    font-family: 'Dancing Script', cursive;
    font-weight: 600;
    font-size: 1.7rem;
    padding-left: 1rem;
}
.cardcontent{
    font-size: 1.1rem;
    padding: 1rem;
    flex-direction: column;
}
.cardlinie{
border: 0;
height: 1px;
background-image: linear-gradient(to right,
rgba(0,0,0,0),
#2C3639,
rgba(0,0,0,0));
}
a{
    text-decoration: none;
    text-shadow:#2C3639;
    color:#2C3639;
}
img{
    width: 100%;
}
footer{
    padding-top: 10%;
    /*position: relative; 
    border: 5px solid red;*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

}
.beschriftung{
    background-color: silver;
    background-color: hsla(0, 0%, 100%, 0);
    order: 1;
    grid-area: 1 / 1/ 2/ 2;
    list-style: none;
    /*position: absolute;
    bottom: 20;
    width: 100%;
    line-height: 2em;
    text-align: center; */

}
li{
    list-style: none;
}
img.back{
   grid-area: 1 /1 /-1 /-1;
   order: -1;
}
blockquote[cite]::after{
    content: " (Quelle: " attr(cite) ")"; 
    font-size:0.8rem;
}
.container.privat{
    margin:10%;
}
.modification{
    grid-area: -2 /-2 /-1 /-1;
    align-self: end;
    margin: 10px;
    font-size: 1.2rem;
}
@media (min-width: 576px){
    .erwartung.animation {
    flex: 1 0 0%;
    margin-bottom: 0;
    min-width: 15rem;
    max-width: 20rem;
}
}
@media (max-width: 576px){
    .erwartung.animation {
    flex: 1 0 0%;
    margin-bottom: 0;
    min-width: 14rem;
}
}
