*{
background: #F2F1EB;
font-family:monospace;
color: #2C3639;
align-content: center;
font-size: 14px;
}

.main{
    align-items: center;
    margin: 2% 15%;
}
h1{
    color: #4F6F52;
    font-size: 5rem;
    text-align: center;
}
h2{
    color:#88AB8E;
}
h3{
    color:#88AB8E;
}
.container.erwartung{
 font-family: cursive;
 font-size: 1.1rem;
 margin-bottom: 2%;
 margin-top: 2%;
 display: flex;
 justify-content: center;
 gap: 20px;
 flex-wrap: wrap;
 flex-direction: row;


}
.erwartung.animation{
    display: inline-block;
    padding: 20px;
    box-shadow: 0px 4px 24px rgba(22, 65, 147, 0.15), 0px 3px 8px rgba(22, 65, 147, 0.05);
    transition:all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
    border-radius: 4px;

}
.erwartung.animation:hover{
    /*flex:1 5%; */
    font-size: 1.2rem;
    box-shadow:0 14px 28px rgba(29, 29, 29, 0.25), 0 10px 10px rgba(48, 47, 47, 0.22);
}
div[draggable]{
    color: #5F6F52;
}
a{
    text-decoration: none;
    text-shadow:#2C3639;
}
img{
    width: 100%;
}
footer{
    padding-top: 10%;
}
blockquote[cite]::after{
    content: " (Quelle: " attr(cite) ")"; 
    font-size:0.8rem;
}